[tool.poetry]
name = "meltano-map-transform"
version = "0.4.1"
description = "`meltano-map-transform` is a Singer-compatible inline map transformer, built with the Meltano SDK for Singer Taps."
authors = [
  "Meltano Team and Contributors",
]
keywords = [
  "ELT",
  "singer.io",
  "Inline Transformation",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/MeltanoLabs/meltano-map-transform"
repository = "https://github.com/MeltanoLabs/meltano-map-transform"
documentation = "https://github.com/MeltanoLabs/meltano-map-transform#readme"

[tool.poetry.dependencies]
python = "<3.12,>=3.7.1"
singer-sdk = "~=0.32.0b1"

[tool.poetry.dev-dependencies]
pytest = "^7.4.2"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.9"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "backoff.*",
  "singer.*", # https://github.com/transferwise/pipelinewise-singer-python/issues/25
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
meltano-map-transform = "meltano_map_transform.mapper:StreamTransform.cli"

[tool.commitizen]
name = "cz_version_bump"
version = "0.0.5"
tag_format = "v$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:^version =",
]

[tool.ruff]
ignore = [
  "ANN101",  # missing-type-self
  "ANN102",  # missing-type-cls
  "DJ",      # flake8-django
  "PD",      # pandas-vet
]
select = ["ALL"]
src = ["meltano_map_transform"]
target-version = "py37"

[tool.ruff.isort]
known-first-party = ["meltano_map_transform"]
required-imports = ["from __future__ import annotations"]

[tool.ruff.per-file-ignores]
"tests/*" = [
  "S101",   # assert
  "ANN201", # missing-return-type-undocumented-public-function
]

[tool.ruff.pydocstyle]
convention = "google"
