[tool.poetry]
name = "meltano-map-transform"
version = "0.1.0"
description = "`meltano-map-transform` is a Singer-compatible inline map transformer, built with the Meltano SDK for Singer Taps."
authors = [
  "Meltano Team and Contributors",
]
keywords = [
  "ELT",
  "singer.io",
  "Inline Transformation",
]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/MeltanoLabs/meltano-map-transform"
repository = "https://github.com/MeltanoLabs/meltano-map-transform"
documentation = "https://github.com/MeltanoLabs/meltano-map-transform#readme"

[tool.poetry.dependencies]
python = "<3.12,>=3.7.1"
singer-sdk = "0.23.0"

[tool.poetry.dev-dependencies]
mypy = ">=0.930"
pytest = "^7.2.2"

[tool.isort]
profile = "black"
multi_line_output = 3 # Vertical Hanging Indent
src_paths = "meltano_map_transform"

[tool.pytest.ini_options]
addopts = "-vvv"

[tool.mypy]
python_version = "3.9"
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "backoff.*",
  "singer.*", # https://github.com/transferwise/pipelinewise-singer-python/issues/25
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
# CLI declaration
meltano-map-transform = "meltano_map_transform.mapper:StreamTransform.cli"

[tool.commitizen]
name = "cz_version_bump"
version = "0.0.5"
tag_format = "v$major.$minor.$patch$prerelease"
version_files = [
    "pyproject.toml:^version =",
]
