name: Meltano Run

on: [push]
     
jobs:
  meltano-run:
    runs-on: ubuntu-latest
    container:
      image: meltano/meltano:latest-python3.9
    strategy:
      matrix:
        include:
        - tap: tap-csv
          mapping: hash_email
          output_db: tap_csv.db
          target_table: customers
        - tap: tap-smoke-test
          mapping: whitelist
          output_db: tap_smoke_test.db
          target_table: animals
    steps:
    - uses: actions/checkout@v3

    - name: Check Meltano version
      run: |
        meltano --version

    - name: Install Plugins
      run: |
        meltano install

    - name: Run
      run: |
        meltano run ${{ matrix.tap }} ${{ matrix.mapping }} target-sqlite

    - name: Install SQLite CLI
      run: |
        apt update
        apt install sqlite3

    - name: Check output
      run: |
        sqlite3 -markdown output/${{ matrix.output_db }} 'select * from ${{ matrix.target_table }} limit 20' >> $GITHUB_STEP_SUMMARY
