### A CI workflow template that runs linting and python testing

name: Test

on: [push]

jobs:
  linting:

    runs-on: ubuntu-latest
    env:
      SETUPTOOLS_USE_DISTUTILS: stdlib
    strategy:
      matrix:
        # Only lint using the primary version used for dev
        python-version: ["3.9"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 1.2.1

    - name: Install dependencies
      run: |
        pip install tox==3.26.0

    - name: Run lint command from tox.ini
      run: |
        tox -e lint
